<%= form_for @instruction, class: "form-horizontal" do |f| %>
  <% if instruction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instruction.errors.count, "error") %> prohibited this instruction from being saved:</h2>

      <ul>
      <% instruction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :word, class: "col-sm-2 control-label" %>
    <%= f.text_field :word, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :sign, class: "col-sm-2 control-label" %>
    <%= f.text_field :sign, class: "form-control" %>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>
<% end %>
