<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Instructions</h1>
</div>

<div>
  <%= link_to new_instruction_path, class: "button pull-right" do %>
    <i class="glyphicon glyphicon-plus"></i>
  <% end %>
</div>

<table class="table  table-striped">
  <thead  class="thead-inverse">
    <tr>
      <th>Word</th>
      <th>Sign</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructions.each do |instruction| %>
      <tr>
        <td><%= instruction.word %></td>
        <td><%= instruction.sign %></td>
        <td>
          <%= link_to instruction, class: "button" do %>
            <i class="glyphicon glyphicon-eye-open"></i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_instruction_path(instruction), class: "button" do %>
            <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
        </td>
        <td>
          <%= link_to instruction, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" do %>
            <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
